* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Bai Jamjuree", sans-serif;
}
#main {
  width: 1440px;
  height: 3808px;
}
header {
  text-align: center;
  padding: 125px 350px 0 350px;
  height: 565px;
  background: url(images/bg-header-desktop.png) no-repeat;
}
header img {
  margin-bottom: 65px;
}
header h1 {
  font-size: 45px;
  margin-bottom: 20px;
  color: hsl(210, 10%, 33%);
}
header h3 {
  width: 720px;
  font-size: 20px;
  position: relative;
  left: 10px;
  color: hsl(201, 11%, 66%);
  font-weight: 400;
  margin-bottom: 50px;
}
header button {
  width: 225px;
  height: 55px;
  border: none;
  border-radius: 27.5px;
  font-size: 17px;
  font-weight: 600;
  color: white;
  letter-spacing: 1px;
}
#btn-ios {
  background: hsl(171, 66%, 44%);
}
#btn-mac {
  background: hsl(233, 100%, 69%);
}
/* -------- ABOUT -------*/
#about {
  height: 370px;
  padding: 150px 370px 50px 370px;
  text-align: center;
}
h2 {
  color: hsl(210, 10%, 33%);
  font-size: 34px;
  margin-bottom: 30px;
}
p {
  font-size: 18px;
  color: hsl(201, 11%, 66%);
}
/*--------- -----------*/
#about-details {
  height: 575px;
  display: flex;
  overflow: hidden;
  margin-bottom: 140px;
}
#about-details img {
  position: relative;
  left: -30px;
}
#details-text {
  padding: 60px 200px 90px 90px;
}
#details-text h3 {
  font-size: 23px;
  color: hsl(210, 10%, 33%);
  margin-bottom: 15px;
}
#details-text p {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 30px;
  margin-bottom: 50px;
}
/*------ access -----*/
#access {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#access p {
  width: 680px;
  line-height: 35px;
}
#access img {
  margin: 100px 0;
}
